
.header {
  text-align: center;
  padding: 50px 0;
}

.header h1 {
  font-size: 68px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  margin-top: -10px;
}

.brownBar {
  background-color: rgb(214, 214, 214);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.subtitle {
  text-align: center; /* Centrar el texto */
  font-size: 26px; /* Tamaño de fuente más pequeño */
  margin-top: -90px;
}

.subtitle p {
  margin-bottom: 10px; 
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form form {
  width: 300px;
}


.inputField {
  width: 110%;
  padding: 20px; 
  border-radius: 10px;
  border: 2px solid #ccc; 
  text-align: center; 
  font-size: 16px; 
}

  


.inputGroup {
  margin-bottom: 10px; 
  display: flex;
}


.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
}

.successMessage {
  text-align: center;
  margin-top: 20px;
  font-size: 18px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita */
  color: green; /* Color del texto */
  margin-left: 0px;
}

.bottomContent {
  position: relative; /* Asegura que el contenido dentro de este div se posicione relativo a él */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.helpImageContainer {
  position: relative;
  bottom: -40px;
  left: 0;
  display: flex;
  align-items: center;
  height: auto;

}

.helpImageContainer img {
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}

.helpText {
  margin-left: 5px;
  font-style: italic; /* Ajusta el margen entre la imagen y el texto según sea necesario */
}

.helpImageContainer .hoverText {
  position: absolute;
  bottom: -20px; /* Ajusta la posición según sea necesario */
  left: 50%; /* Ajusta la posición según sea necesario */
  transform: translateX(-50%); /* Centrar horizontalmente */
  background-color: rgba(73, 71, 71, 0.7); /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espaciado interior */
  border-radius: 5px; /* Bordes redondeados */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Efecto de transición */
}

.helpImageContainer:hover .hoverText {
  opacity: 1; /* Mostrar en hover */
}

